#!/usr/bin/env python
PACKAGE = "dynamixel_body"

from dynamic_reconfigure.parameter_generator_catkin import *


gen = ParameterGenerator()
gen.add(
    "joint_zero_rad", double_t, 0,
    "Measured body_joint angle that represents logical head angle zero",
    0.0, -6.28318530718, 6.28318530718)
gen.add(
    "command_sign", int_t, 0,
    "Logical-to-joint direction; use only +1 or -1",
    1, -1, 1,
    edit_method=gen.enum([
        gen.const("Positive", int_t, 1, "Positive logical direction"),
        gen.const("Negative", int_t, -1, "Negative logical direction"),
    ], "Head rotation direction"))

exit(gen.generate(PACKAGE, "dynamixel_body", "HeadRotationBridge"))
